@import url("bootstrap.min.css");
@import url("normalize.css");
body,html{background-color:#fff;font:normal normal normal 1em/1.5em Helvetica,sans-serif}
pre{font-family:monospace}
#pagewrap{margin:0 auto;width:700px}
#search{-webkit-border-radius:10px;background-color:#fff;padding:10px;position:fixed;right:40px;display:none}
header{display:inline-block;position:relative;padding:20px 0;width:100%;white-space:nowrap}
table{background-color:#fff;-webkit-border-radius:10px;width:100%;padding:10px}
th.sortable{color:#666;cursor:pointer;text-decoration:underline}
th.sortable:hover{color:#000}
th.sorted-asc,th.sorted-desc{color:#000}
td{background-color:#fff}
td.odd{background-color:#666;color:#fff}
td.hovered{background-color:#add8e6;color:#666}
#MeteorToolBar{margin:0 auto 0 auto;width:300px}
.mt-menu{display:inline-block}
.mt-menu > li{display:inline-block;opacity:.5;cursor:pointer}
#toolBox{border:none;padding:0 10px;font-style:italic;font:14px/20px Consolas,Monaco,Monospaced,monospace;color:#555}
#tabContainer{padding:10px;background-color:transparent;-moz-border-radius:4px;border-radius:4px;font:.48em "Lucida Sans Unicode","Lucida Grande",sans-serif}
.tabs{margin:3px}
.tabs > ul{font-size:1em;list-style:none;margin:6px;background-color:#5a5a5a;display:inline-block;float:left;-moz-border-radius:3px;border-radius:3px;padding:2px}
.tabs > ul > li{margin:0 0 0 0;padding:5px 10px;display:block;float:left;color:#fff;-webkit-user-select:none;-moz-user-select:none;user-select:none;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;-moz-border-radius-bottomright:3px;-moz-border-radius-bottomleft:3px;border-top-left-radius:3px;border-top-right-radius:3px;border-bottom-right-radius:3px;border-bottom-left-radius:3px;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#0c91ec),color-stop(100%,#257ab6))}
.tabs > ul > li:hover{background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(10%,#f3f3f3),color-stop(50%,#f3f3f3),color-stop(100%,#fff));cursor:pointer;color:#333}
.tabs > ul > li.tabActiveHeader{background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(10%,#f3f3f3),color-stop(50%,#f3f3f3),color-stop(100%,#fff));cursor:pointer;color:#333;border-color:#adadad}
.tabscontent{-moz-border-radius-topleft:4px;-moz-border-radius-topright:4px;-moz-border-radius-bottomright:4px;-moz-border-radius-bottomleft:4px;background-color:#fafafa;border-top-left-radius:4px;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;padding:10px 10px 25px;background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(90%,#fff),color-stop(100%,#e4e9ed));margin:0;min-height:30%;color:#333;box-shadow:0 0 2px #777}
#btnBuild{min-width:5em}
#dynTable{width:100%;overflow-x:auto}
.tabContentMenu{margin:3px 0 8px}
.img-vendor-oz,.img-vendor-sap{display:inline-block;float:left;margin:0 10px}
.img-vendor-oz{width:64px;height:64px}
.img-vendor-sap{width:120px}
