@import "nib"
@import 'nib/vendor'
@import 'nib/gradients'

c_texto = #666
c_pholder = #555
c_links = #428BCA
vendor-prefixes ?= webkit moz official ms o

@import "bootstrap.min.css";
@import "iconos.styl";

body, html
  background-color: #FFF
  color: c_texto
  font: normal normal normal 1em/1.5em Helvetica, sans-serif

body
  overflow-x auto

a
  color c_texto

pre
  font-family: monospace

#pagewrap
  margin 0 auto
  width 700px

#search
  border-radius 10px
  background-color white
  padding 10px
  position fixed
  right 40px
  display none

header 
  padding 20px 0  
  overflow hidden
  white-space nowrap 
  

  .logo
    display block
    //background-color #FFF
    overflow hidden

    .img-vendor-oz, .img-vendor-sap
      display: inline-block
      float left
      margin 0 10px
      

    .img-vendor-oz
      width 59px
      height 59px
      
      
    .img-vendor-sap
      width 120px

.magic_toolbar
  background-color white
  border-radius 0.2em
  border 1px solid #AAA
  box-shadow inset 0px 1px 1px  #ccc
  height 1.7em
  line-height 0
  margin 0 auto 0 
  overflow hidden
  padding 0 
  vertical-align top
  
  //width 100%
  //width 300px
  //position relative
  //white-space nowrap
  /*overflow hidden*/

  input
    background transparent
    border none
    color c_pholder
    font-style italic
    font 12px/20px Consolas, Monaco, Monospaced, monospace
    height 100%
    padding 0 0.9em
    vertical-align top
    width 80%
    //padding 0.4em 0px .2em

  #boxIndicator2
    height 100%
    display inline-block
    float right
    padding .3em .5em
    text-align middle
    vertical-align bottom


.menu
  display inline-block
  margin 0
  padding 5px 0 3px
  white-space nowrap
  float right
  line-height 0


  li 
    display inline-block
    padding 0 5px
    a        
      text-decoration none
      cursor pointer
      color c_texto

#op_fast_search:hover
  color yellow
  text-shadow 0 .5pt .5pt #777


.ico-list2:hover
    color red


table
  background-color: white
  border-radius: 10px
  width: 100%
  padding: 10px

th.sortable
  
  cursor: pointer
  text-decoration: underline

th.sortable:hover
  color: black

th.sorted-asc, th.sorted-desc
  color: black

td
  background-color: white

td.odd
  background-color: #666
  color white

td.hovered
  background-color lightblue
  color #666

.mt-menu
  display: inline-block

.mt-menu > li
  display inline-block
  opacity 0.5
  cursor pointer
  

#tabContainer
  padding 10px
  background-color transparent
  border-radius: 4px
  font "Lucida Sans Unicode", "Lucida Grande", sans-serif

.tabs
  //border 1px solid red
  padding .3em
  overflow hidden


/*.tabs
  margin 3px

.tabs > ul
  font-size 1em
  list-style none
  margin 6px
  background-color rgb(90,90,90)
  display inline-block
  float left
  border-radius: 3px
  padding: 2px

.tabs > ul > li
  margin 0 0px 0 0
  padding 5px 10px
  display block
  float left
  color #FFF
  user-select none
  border-top-left-radius 3px
  border-top-right-radius 3px
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px
  background linear-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6))

.tabs > ul > li:hover
  background: linear-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF))
  cursor: pointer
  color: #333

.tabs > ul > li.tabActiveHeader
  background: linear-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF))
  cursor: pointer
  color: #333
  border-color: rgb(173, 173, 173)*/

.boxHolder
  /*-moz-border-radius-topleft: 4px
  -moz-border-radius-topright: 4px
  -moz-border-radius-bottomright: 4px
  -moz-border-radius-bottomleft: 4px*/
  background-color #fafafa
  border 1px solid #CCCCCC
  border-top-left-radius: 4px
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px
  padding: 10px 10px 25px
  background: linear-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed))
  margin: 0
  color: #333
  box-shadow: 0px 1px .6pt  #CCC

#btnBuild
  min-width: 5em
  
#dynDeatilTable
  overflow-x scroll
  position relative
  height 100%
/*#dynTable, #dynDeatilTable
  width: 100%
  overflow-x visible
  overflow-y visible*/

.tabContentMenu
  margin: 3px 0 8px

.detailScenario
  font-size .8em
  margin 10px 0;
  position relative

  .dsnd, .drcv, .dpi
    padding 3px
    display block
    width 100%
    margin-bottom 5px


.dsnd, .drcv, .dpi 
  > h3
    border-bottom 1px solid #bbb
    color #333
    font-style bold
    font-size 12.5pt
    margin 0 0 5px 0
    padding-left 3px
    color c_links

  label
    display inline-block
    line-height normal
    font-weight normal
    margin 0
    padding-left 3px

  p
    margin 0
    strong
      width 80px
      display inline-block
      padding-left 3px

    strong:after  
      content ":"

  p:hover
    background-color #F0F0F0

  /**.dpi,ñ
    border-right 1px solid #ccc
    border-left 1px solid #ccc*/

.iclose
  cursor pointer
  display block
  float right
  font-size 7pt
  padding 5px

.iclose:hover
  //color #FF6036
  background-color #777
  color #fff
  text-decoration none
  border-radius 50%


.newBox
  display none
  opacity 0

.popcontainer
  padding 10px
  overflow-x hidden

.itemHead
  margin 0 0 3px

  span
    color gray
    font-size 1.8 em

    a,  a:hover
      font-size 13 pt
      text-decoration none
      vertical-align middle
      padding 0 10px

#boxIndicator,#boxIndicator2
  color #ccc
  cursor pointer
  text-decoration none




#tabpage_2
  display block


@media screen and (min-width:768px)
  .detailScenario
    .dsnd, .drcv, .dpi
      display inline-block
      vertical-align top
      width 32%

  .magic_toolbar
    display inline-block
    position relative
    width 50%
    //white-space nowrap

  header 
    .logo
      float left
      