body, html {
    background-color: lightblue;
    font: normal normal normal 1em/1.5em Helvetica, sans-serif;
}
pre { font-family: monospace;}



#pagewrap {
    margin: 0 auto;
    width: 700px;
}

#search {
    -webkit-border-radius: 10px;
    background-color: white;
    padding: 10px;
    position: fixed;
    right:40px;
    display: none;
}


#body {

}
table {
    background-color: white;
    -webkit-border-radius: 10px;
    width: 100%;
    padding: 10px;
}
th.sortable {
    color: #666;
    cursor: pointer;
    text-decoration: underline;
}
th.sortable:hover { color: black; }
th.sorted-asc, th.sorted-desc  { color: black; }

td {
    background-color: white;
}
td.odd {
    background-color: #666;
    color: white;
}

td.hovered {
    background-color: lightblue;
    color: #666;
}